    {% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | Abdul Hadi</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    {% include 'nav_bar.html' %}
    
    {% block content %}

    <section class="contact-section">
        <h1>Contact Me</h1>
        <p>If you have any questions or just want to get in touch, feel free to send a message!</p>
        {% csrf_token %}
        <div class="contact-form-container">
            {{ n }}
            <!-- Method is imp to save data into database and also csrf_token -->
            <form class="contact-form" action="{% url 'saveenquiry' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Your Name</label>
                    <input type="text" id="name" name="name"  placeholder="Enter your name" required>
                </div>
                <div class="form-group">
                    <label for="email">Your Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                    <label for="message">Your Message</label>
                    <textarea id="message" rows="5" name="message" placeholder="Enter your message" required></textarea>
                </div>
                <button type="submit" class="btn">Send Message</button>
            </form>
        </div>
    </section>
    
    {% endblock %}

</body>
</html>